@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #3e81d2;
    --color-white: #fff;
}

body {
    background: rgb(195, 188, 252);
    background: linear-gradient(0deg, rgba(195, 188, 252, 1) 24%, rgba(188, 217, 252, 1) 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    flex-flow: column nowrap;
    font-family: "Roboto", sans-serif;
}


.heading {
    text-align: center;
    font-size: 16px;
    background-color: var(--color-primary);
    width: 400px;
    padding: 0px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--color-white);
    text-shadow: 1px 1px 1px 1px #000;
}

.container {
    width: 400px;
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-img {
    display: flex;
    justify-content: center;
    min-height: 220px;
}

.box-img img {
    max-width: 60%;

}

.box-input {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.box-input input {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    outline: none;
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.box-input input:focus {
    border: 3px solid #5391e5;
}

.box-input input::placeholder {
    color: #81a6d3;
    
}

.box-input button {
    padding: 20px;
    border-radius: 15px;
    font-size: 24px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    outline: none;
    cursor:pointer;
    font-family: "Roboto", sans-serif;
}

.box-input button:hover {
    background: #5391e5;
}

.box-input button:active {
    background: #5391e5;
}

@media (max-width:500px){
    .heading, .container {
        width: 100vw;
    
    }
    
    .box-input {
        padding: 20px;
    }

}